<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.please.khs.shower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SONAGIGlobalClass"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/fsonagi_logo"
        android:label="SONAGI"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InternetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".KeyboardSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Main.GraphActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpActivity.SignUp1Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpActivity.SignUp2Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".Main.BadgeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Request.QuoteQuest"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Request.UserName"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".Rainny"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".Tutorial.Tutorial1"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".Fragment_main"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".Tutorial.Tutorial6"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ComingSoon"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".MemoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service
            android:name=".SONAGIService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop" />
        <service
            android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="TOGGLE" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogoutActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>